.DS_Store
__pycache__/
*.py[cod]
*.egg-info/

.venv/
venv/
**/.venv/
**/venv/

.pytest_cache/
**/.pytest_cache/
.jelly_dict/
**/.jelly_dict/

build/
dist/
**/build/
**/dist/

*.xlsx
*.apkg
*.tsv
*.log

.idea/
.vscode/
